@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*================================================================*/
/************************ MAIN CODE START *************************/
/*================================================================*/

/* common */
@font-face {
  font-family: "localFontAwesome";
  src: url("../vendor/fonts/FontAwesome.otf") format("truetype");
}

.hide{ display: none !important; }

/* common */

/* --------------------- index page start ---------------- */
.wrapper{
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

/* header start */
/* secondary menu start */
header .secondary_menu{ background: #a4c639; }

header .secondary_menu .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_menu{ display: flex; }

.contact_menu > *{
  padding: 15px 20px;
  border-left: 1px solid rgba(255, 255, 255, .4);
  color: #fff;
  font-size: 14px;
  font-weight: 900;
}

.contact_menu > *:last-child{ border-right: 1px solid rgba(255, 255, 255, .4); }

.contact_menu p::before{
  content: '\f017';
  padding-right: 10px;
  font-size: 18px;
  font-family: "localFontAwesome";
  font-weight: 500;
}

.contact_menu a::before{
  content: '\f095';
  padding-right: 10px;
  font-size: 18px;
  font-family: "localFontAwesome";
  font-weight: 500;
}

.contact_menu a:hover{
  background: #fff;
  color: #a4c639;
}

.social_medias_menu{ display: flex; }
.social_medias_menu li a{ font-size: 0; }

.social_medias_menu li a::before{
  content: '\f09a';
  padding: 15px 20px;
  border-left: 1px solid rgba(255, 255, 255, .4);
  color: #fff;
  font-size: 16px;
  font-family: "localFontAwesome";
}

.social_medias_menu li:nth-child(1) a::before{ content: '\f09a'; }
.social_medias_menu li:nth-child(2) a::before{ content: '\f099'; }
.social_medias_menu li:nth-child(3) a::before{ content: '\f0e1'; }
.social_medias_menu li:nth-child(4) a::before{ content: '\f1b4'; }

.social_medias_menu li a:hover::before{
  background: #fff;
  color: #a4c639;
}
/* secondary menu end */

/* primary menu start */
header .primary_menu{
  width: 100%;
  position: absolute;
  z-index: 2;
}

header .primary_menu .wrapper{
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_menu li a{
  padding: 15px 8px;
  margin: 0 18px;
  color: #fff;
  font-size: 15px;
}

.main_menu li a:hover{ color: #a4c639;}

.active_menu{
  border-bottom: 2px solid #a4c639 !important;
  color: #a4c639 !important;
}
/* primary menu end */
/* header end */

/* main section start */
.prev{
  position: absolute;
  top: 60%;
  left: 63px;
  z-index: 2;
  color: #fff;
  font-size: 0;
}

.prev::after{
  content: "\f104";
  font-size: 38px;
  font-family: 'localFontAwesome';
}

.next{
  position: absolute;
  top: 60%;
  right: 63px;
  z-index: 2;
  color: #fff;
  font-size: 0;
}

.next::after{
  content: "\f105";
  font-size: 38px;
  font-family: 'localFontAwesome';
}

.main_slider .bg_img img{
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.main_content{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.main_content .sup_title{
  color: #a4c639;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 900;
}

.main_content h2{
  width: 50%;
  color: #fff;
  font-size: 45px;
  font-weight: 900;
}

.main_content .main_para{
  width: 60%;
  margin: 34px 0;
  color: #fff;
  line-height: 30px;
}

.main_content a[title="Learn More"]{
  padding: 15px 30px;
  width: fit-content;
  border: 2px solid #a4c639;
  border-radius: 40px;
  color: #fff;
  background: #a4c639;
  font-size: 13px;
  font-weight: 900;
}

.main_content a[title="Learn More"]:hover{
  border: 2px solid #a4c639;
  color: #a4c639;
  background: transparent;
}

.main_bottom_content{ background: #a4c639; }

.main_bottom_content .wrapper{
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 35px;
}

.main_bottom_content .wrapper p:first-child{
  color: #fff;
  font-size: 22px;
  font-weight: 900;
}

.main_bottom_content .wrapper p:last-child{
  color: #fff;
  font-size: 16px;
}

.main_bottom_content a[title="Contact Us"]{
  padding: 14px 30px;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  background: #a4c639;
  font-size: 13px;
  font-weight: 900;
  line-height: initial;
}

.main_bottom_content a[title="Contact Us"]:hover{
  background: #fff;
  color: #a4c639;
}

/* main section end */

/* financial service section start */
.fin_service_section{ padding: 80px 0; position: relative; }

.fin_service_section h2{
  margin-top: 60px;
  color: #1e1e1e;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
}

.fin_service_section h2 span{ color: #a4c639; }

.fin_service_section .subtext{
  padding: 20px 0;
  color: #707070;
  font-size: 15px;
  text-align: center;
}

.fin_service_list{
  margin: 70px 0;
  display: flex;
  justify-content: space-between;
}

.fin_service_list li{
  width: 31.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
}

.service_content_box{ padding: 32px; }
.fin_service_list li .service_panel:hover{ transform: scale(.98); }

.service_content_box h3{
  font-size: 20px;
  font-weight: 900;
}

.service_content_box p{
  padding: 20px 0;
  color: #666;
  line-height: 30px;
}

.read_more_btn{
  padding: 14px 28px;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  background: #a4c639;
  font-size: 13px;
  font-weight: 900;
}

.read_more_btn:hover{
  border: 2px solid #a4c639;
  background: #fff;
  color: #a4c639;
}

.overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  background: rgba(0, 0, 0, .5);
  font-size: 0;
  transform: translate(-50%,-50%);
}

.digital_modal, .market_modal, .historical_modal{
  padding: 40px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  background: #fff;
  line-height: 30px;
  transform: translate(-50%,-50%);
}

.digital_modal h3, .market_modal h3, .historical_modal h3{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
}

/* financial service section end */

/* our solution section start */

.solution_section{ position: relative; }

.solution_bg_img img{
  height: 100%;
  position: absolute;
  z-index: -1;
}

.solution_section .wrapper{
  padding: 90px 0;
  display: flex;
  justify-content: space-between;
}

.solution_section div:first-child{ flex-basis: 45%; }

.solution_section .suptext{
  color: #f5f5f5;
  font-size: 15px;
  margin: 18px 0;
}

.solution_title{
  color: #f5f5f5;
  font-size: 40px;
  font-weight: 900;
}

.solution_title span{ color: #a4c639; }

.solution_content{
  margin: 34px 0;
  color: #f5f5f5;
  font-size: 14px;
  line-height: 30px;
}

.solution_read_more_btn{
  padding: 13px 28px;
  border: 2px solid #a4c639;
  border-radius: 40px;
  color: #fff;
  background: #a4c639;
  font-size: 13px;
  font-weight: 900;
}

.solution_read_more_btn:hover{
  border: 2px solid #a4c639;
  background: #fff;
  color: #a4c639;
}

.solution_section .wrapper div:last-child{
  flex-basis: 53%;
  align-self: center;
}

.solution_counter{
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 30px;
}

.solution_counter li{
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
  background: rgba(255, 255, 255, .1);
}

.solution_counter li:hover{ transform: scale(.98); }

.counting_no{
  color: #a4c639;
  font-size: 36px;  
  font-weight: 900;
}

.solution_counter li span:last-child{
  margin-top: 12px;
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 900;
}
/* our solution section end */

/* more info section start */
.info_section{ margin: 180px 0; }

.info_section .wrapper{
  display: flex;
  background: #f5f5f5;
}

.info_section figure img{
  height: 100%;
  flex-basis: 50%;
}

.info_content_box{ 
  flex-basis: 46%;
  padding: 50px;
}

.info_content_box .suptext{ 
  color: #666;
  font-size: 15px;
  margin-bottom: 10px;
}

.info_content_box h4{
  color: #1e1e1e;
  font-size: 40px;
  font-weight: 900;
}

.info_content_box h4 span{ color: #a4c639; }

.info_content{
  margin-top: 40px;
  color: #666;
  line-height: 30px;
}

.info_content_box a[title="Read More"]{
  padding: 13px 28px;
  margin-top: 40px;
  border: 2px solid #a4c639;
  border-radius: 40px;
  color: #fff;
  background: #a4c639;
  font-size: 13px;
  font-weight: 900;
}

.info_content_box a[title="Read More"]:hover{
  border: 2px solid #a4c639;
  background: #fff;
  color: #a4c639;
}
/* more info section end */

/* testimonial section start */
.testimonial_section{
  background: #f5f5f5;
  padding: 140px 0;
}

.testimonial_section h5{
  font-size: 35px;
  font-weight: 900;
  text-align: center;
}

.testimonial_section h5 span{ color: #a4c639; }

.testimonial_section .subtext{
  margin-top: 20px;
  color: #666;
  font-size: 14px;
  text-align: center;
}

.testimonial_list{
  margin: 80px 0 60px 0;
  display: flex;
  justify-content: space-between;
}

.testimonial_list li{
  padding: 44px;
  border-radius: 8px;
  flex-basis: 41%;
  background: #fff;
}

.testimonial_list li:hover{
  transform: scale(.98);
  border: 1px solid #797979;
}

.testimonial_list li span{
  display: block;
  text-align: center;
}

.client_name{
  font-size: 20px;
  font-weight: 900;
}

.client_role{
  margin: 8px 0;
  color: #a4c639;
  font-size: 15px;
  font-weight: 900;
}

.testimonial_list li p{
  color: #666;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

/* testimonial section end */

/* contact us section start */
.contactus_section{ margin: 140px 0; }

.contactus_section h6{
  font-size: 35px;
  font-weight: 900;
  text-align: center;
}

.contactus_section h6 span{ color: #a4c639; }

.contactus_section .subtext{
  margin-top: 20px;
  color: #666;
  font-size: 14px;
  text-align: center;
}

.contactus_section form{
  margin-top: 80px;
  padding: 60px;
  border-radius: 5px;
  background: #a4c639;
}

.contactus_section .form_group span, 
.contactus_section .form_control span{
  margin: 10px 0;
  display: none;
  color: #f00;
  font-size: 12px;
  text-align: center;
}

.contactus_section form div:first-child{
  display: flex;
  justify-content: space-between;
}

.contactus_section div:first-child .form_group{
  display:  flex;
  flex-direction: column;
  flex-basis: 31%;
}

.contactus_section .form_group input{
  padding: 12px 15px;
  border: none;
  border-radius: 20px;
  font-size: 13px;
  flex-basis: 50%;
}

.contactus_section .message_box{
  padding: 20px;
  margin-top: 40px;
  border: none;
  border-radius: 20px;
}

.contactus_section form input::placeholder, .contactus_section .message_box::placeholder{
  color: #acacac;
  font-family: sans-serif;
  font-size: 14px;
}

.contactus_section .form_control .send_btn{
  padding: 13px 28px;
  margin-top: 40px;
  border: 2px solid #fff;
  border-radius: 40px;
  position: relative;
  left: 50%;
  color: #fff;
  background: #a4c639;
  font-size: 13px;
  font-weight: 900;
  transform: translateX(-50%);
}

.contactus_section .form_control .send_btn:hover{
  border: 2px solid #a4c639;
  background: #fff;
  color: #a4c639;
}
/* contact us section end */

/* client section start */
.client_section{ 
  padding: 60px;
  background: #f5f5f5;
}

.client_list{
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.client_list li:hover{ transform: scale(.9); }

/* client section end */

/* footer start */
footer{ background: #232323; }

/* primary footer start */
.primary_footer .wrapper{
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.primary_footer .wrapper > div{
  flex-basis: 23%;
}

.footer_company_name{
  margin-bottom: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

.footer_aboutus p{
  margin-bottom: 20px;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

.footer_aboutus .social_handles li a{ font-size: 0; }

.footer_aboutus .social_handles li a::before{
  content: "\f005";
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #232323;
  font-size: 16px;
  font-family: "localFontAwesome";
}

.footer_aboutus .social_handles li:nth-child(1) a::before{ content: '\f09a'; }
.footer_aboutus .social_handles li:nth-child(2) a::before{ content: '\f099'; }
.footer_aboutus .social_handles li:nth-child(3) a::before{ content: '\f0e1'; }
.footer_aboutus .social_handles li:nth-child(4) a::before{ content: '\f1b4'; }

.footer_aboutus .social_handles li a:hover::before{
  background: transparent;
  color: #a4c639;
  border: 2px solid #a4c639;
  transform: scale(1.1);
}

.useful_links_title{
  margin-bottom: 40px;
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

.useful_link_list li{ display: block; }

.useful_link_list li a{
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

.useful_link_list li a:hover{
  color: #a4c639;
  text-decoration: underline;
}

.additional_pages_title{
  margin-bottom: 40px;
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

.additional_pages_list li{ display: block; }

.additional_pages_list li a{
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

.additional_pages_list li a:hover{
  color: #a4c639;
  text-decoration: underline;
}

.footer_contactus .title{
  margin-bottom: 40px;
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

.footer_contactus form .form_group{
  display: flex;
  flex-direction: column;
}

.footer_contactus .form_group span, .footer_contactus .submit_error_box{
  display: none;
  margin: 5px 0;
  color: #f00;
  font-size: 12px;
}

.footer_contactus .form_group input, .footer_contactus .message_input{
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, .1);
}

.footer_contactus input::placeholder, .footer_contactus .message_input::placeholder{
  color: #999;
  font-family: sans-serif;
}

.footer_contactus .form_control .send_btn{
  padding: 13px 28px;
  margin-top: 10px;
  border-radius: 40px;
  position: relative;
  color: #fff;
  background: #a4c639;
  font-size: 13px;
  font-weight: 900;
}

.footer_contactus .form_control .send_btn:hover{
  background: #fff;
  color: #a4c639;
}
/* primary footer end */
/* footer end */

/* --------------------- index page end ---------------- */
