@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*================================================================*/
/************************ MAIN CODE START *************************/
/*================================================================*/

@font-face {
  font-family: "localFontAwesome";
  src: url("../vendor/fonts/FontAwesome.otf") format("truetype");
}

/* --------------------- index page start ---------------- */
.wrapper{
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

/* header start */
/* secondary menu start */
header .secondary_menu{ background: #a4c639; }

header .secondary_menu .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_menu{ display: flex; }

.contact_menu > *{
  padding: 15px 20px;
  border-left: 1px solid rgba(255, 255, 255, .4);
  color: #fff;
  font-size: 14px;
  font-weight: 900;
}

.contact_menu > *:last-child{ border-right: 1px solid rgba(255, 255, 255, .4); }

.contact_menu p::before{
  content: '\f017';
  padding-right: 10px;
  font-size: 18px;
  font-family: "localFontAwesome";
  font-weight: 500;
}

.contact_menu a::before{
  content: '\f095';
  padding-right: 10px;
  font-size: 18px;
  font-family: "localFontAwesome";
  font-weight: 500;
}

.social_medias_menu li a{ font-size: 0; }

.social_medias_menu li a::after{
  content: '\f09a';
  padding: 15px 20px;
  border-left: 1px solid rgba(255, 255, 255, .4);
  color: #fff;
  font-size: 16px;
  font-family: "localFontAwesome";
}

.social_medias_menu li:nth-child(1) a::after{ content: '\f09a'; }
.social_medias_menu li:nth-child(2) a::after{ content: '\f099'; }
.social_medias_menu li:nth-child(3) a::after{ content: '\f0e1'; }
.social_medias_menu li:nth-child(4) a::after{ content: '\f1b4'; }
/* secondary menu end */

/* primary menu start */
header .primary_menu{
  width: 100%;
  position: absolute;
  z-index: 2;
}

header .primary_menu .wrapper{
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_menu li a{
  padding: 15px 8px;
  margin: 0 18px;
  color: #fff;
  font-size: 15px;
}

.main_menu li a:hover{ color: #a4c639;}

.active_menu{
  border-bottom: 2px solid #a4c639;
  color: #a4c639 !important;
}
/* primary menu end */
/* header end */

/* main section start */
.prev{
  position: absolute;
  top: 60%;
  left: 63px;
  z-index: 2;
  color: #fff;
  font-size: 0;
}

.prev::after{
  content: "\f104";
  font-size: 38px;
  font-family: 'localFontAwesome';
}

.next{
  position: absolute;
  top: 60%;
  right: 63px;
  z-index: 2;
  color: #fff;
  font-size: 0;
}

.next::after{
  content: "\f105";
  font-size: 38px;
  font-family: 'localFontAwesome';
}

.main_slider .bg_img img{
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.main_content{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.main_content .sup_title{
  color: #a4c639;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 900;
}

.main_content h2{
  width: 50%;
  color: #fff;
  font-size: 45px;
  font-weight: 900;
}

.main_content .main_para{
  width: 60%;
  margin: 34px 0;
  color: #fff;
  line-height: 30px;
}

.main_content a[title="Learn More"]{
  padding: 15px 30px;
  width: fit-content;
  border: 2px solid #a4c639;
  border-radius: 40px;
  color: #fff;
  background: #a4c639;
  font-size: 13px;
  font-weight: 900;
}

.main_content a[title="Learn More"]:hover{
  border: 2px solid #a4c639;
  color: #a4c639;
  background: transparent;
}

.main_bottom_content{ background: #a4c639; }

.main_bottom_content .wrapper{
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 35px;
}

.main_bottom_content .wrapper p:first-child{
  color: #fff;
  font-size: 22px;
  font-weight: 900;
}

.main_bottom_content .wrapper p:last-child{
  color: #fff;
  font-size: 16px;
}

.main_bottom_content a[title="Contact Us"]{
  padding: 14px 30px;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  background: #a4c639;
  font-size: 13px;
  font-weight: 900;
  line-height: initial;
}

.main_bottom_content a[title="Contact Us"]:hover{
  background: #fff;
  color: #a4c639;
}

/* main section end */

/* --------------------- index page end ---------------- */
